
<div class="message-content<% if message.author.id == current_user.id %> my-message<% end %>"> 
<div class="message-author">˗ˏˋ <%= message.author.name %> ´ˎ˗</div>
</br>
<div dir="auto">
<%= CommonMarker.render_html(message.content, [:UNSAFE, :HARDBREAKS], PostsController::GFM_EXT).html_safe %>
</div>
<div class="message-date"><% if message.read? %>ੈ✩‧₊˚<% end %><%= message.sent.strftime('%d.%m.%Y %H:%M') %></div>

</div>